<app-header></app-header>
<section class="home" [ngClass]="{ 'sidebar-close': sidebarService.isOpen }">
  <div class="container">
    <ng-container *ngIf="(appState$ | async) as appState" [ngSwitch]="appState.dataState">
      <ng-container *ngSwitchCase="DateState.LOADING_STATE">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="DateState.LOADED_STATE">
        <table class="table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Id</th>
            <th>Port</th>
            <th>Ram</th>
            <th>Disk</th>
            <th>Delete</th>
          </tr>
          </thead>
          <tbody *ngFor="let server of appState.appData.data.servers">
          <tr>
            <td>{{ server.name }}</td>
            <td>
              <a [routerLink]="['/servers/info', server.id]">
                {{ server.id }}
              </a>
            </td>
            <td>{{ server.port }}</td>
            <td>{{ server.ram }}</td>
            <td>{{ server.disk }}</td>
            <td>
              <button (click)="delete(server.id)">Usuń</button>
            </td>
          </tr>
          </tbody>
        </table>
      </ng-container>
    </ng-container>
  </div>
</section>
