<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand">Pomoku</a>-->
<!--  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">-->
<!--    <span class="navbar-toggler-icon"></span>-->
<!--  </button>-->

<!--  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">-->
<!--    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">-->
<!--      <li class="nav-item">-->
<!--        <a class="nav-link" routerLink="/servers">Servers</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </div>-->
<!--</nav>-->

<nav class="sidebar">
  <header>
    <div class="image-text">
      <span class="image">
        <img src="/assets/images/logo.png" alt="logo">
      </span>

      <div class="text header-text">
        <span class="name">Pomoku</span>
        <span class="profession">Minecraft servers</span>
      </div>
    </div>

    <i class="bx bx-chevron-right toggle" (click)="toggleCloseSidebar()"></i>
  </header>

  <div class="menu-bar">
    <div class="menu">
      <li class="search-box">
        <i class="bx bx-search icon"></i>
        <input type="search" placeholder="Search...">
      </li>
      <ul class="menu-links">
        <li class="nav-link">
          <a href="#">
            <i class="bx bx-home-alt icon"></i>
            <span class="text nav-text">Home</span>
          </a>
        </li>
        <li class="nav-link">
          <a [routerLink]='["/servers"]'>
            <i class="bx bx-bar-chart-alt-2 icon"></i>
            <span class="text nav-text">Servers</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="bx bx-bell icon"></i>
            <span class="text nav-text">Notifications</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="bx bx-pie-chart-alt icon"></i>
            <span class="text nav-text">Analytics</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="bx bx-heart icon"></i>
            <span class="text nav-text">Likes</span>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="bx bx-wallet icon"></i>
            <span class="text nav-text">Wallets</span>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom-content">
      <li class="">
        <a href="#">
          <i class="bx bx-log-out icon"></i>
          <span class="text nav-text">Logout</span>
        </a>
      </li>

      <li class="mode">
        <div class="moon-sun">
          <i class="bx bx-moon icon moon"></i>
          <i class="bx bx-sun icon sun"></i>
        </div>
        <span class="mode-text text">Dark mode</span>

        <div class="toggle-switch" (click)="toggleDarkMode()">
          <span class="switch"></span>
        </div>
      </li>
    </div>
  </div>
</nav>
