.terminal-scrollbar::-webkit-scrollbar {
    width: 8px;
}

.terminal-scrollbar::-webkit-scrollbar-track {
    background: #333;
}

.terminal-scrollbar::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 4px;
}

.terminal-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #999;
}