<div class="main">
  <div class="logo">
    <i class='bx bx-server title'></i>
    <h1 class="title">Pomoku</h1>
  </div>
  <section class="container">
    <div class="wrapper">
      <form [formGroup]="loginForm">
        <h1>Logowanie</h1>
        <div class="input-box" [ngClass]="{'error': isEmailValid()}">
          <input type="text" placeholder="Email" required formControlName="email">
          <i class="bx bxs-user"></i>
          <small *ngIf="isEmailHaveError('required')">*Email jest wymagany</small>
          <small *ngIf="isEmailHaveError('email')">*Niepoprawny format email</small>
        </div>
        <div class="input-box" [ngClass]="{'error': isPasswordIsValid()}">
          <input [type]="passwordInputType" placeholder="Hasło" required formControlName="password">
          <i class="fa {{ this.passwordIcon }}" (click)="hideShowPass()"></i>
          <small *ngIf="isPasswordIsValid()">*Hasło jest wymagane</small>
        </div>
        <div class="remember-forgot">
          <label><input type="checkbox"> Zapamiętaj mnie</label>
          <a href="#">Zapomniałeś hasła?</a>
        </div>
        <button (click)="onSubmit()" type="submit" class="btn">Zaloguj się</button>
        <div class="register-link">
          <p>Nie masz konta? <a [routerLink]='["/auth/register"]'>Zarejestruj się</a></p>
        </div>
      </form>
    </div>
  </section>
</div>
